/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

/* RESPONSIVE Views for Mobile */
@media screen and (max-width: 640px) {

    /* Responsive mobile menubar */
    .navbar-inverse .navbar-brand > span {
        font-size: .7em;
    }

    .navbar-inverse .navbar-brand > img.nav-brand-image {
        height: 27px;
        width: 22px;
        top: -3px;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 1.2em;
    }

    .navbar-header {
        margin-bottom: 0px;
    }

    .navbar {
        width: 100%;
        left: 0;
        border-top: 0px solid #FFF;
    }

    /* -----END Responsive mobile menubar */
    /* Response mobile title on home */
    div.titlebar > div > h1 {
        font-size: 2.5em;
    }

    div.titlebar > div > span {
        font-size: 1.2em;
    }

    div.titletext > div > h1 {
        font-size: 1.5em;
    }

    div.titletext > div > h1 > span {
        font-size: .6em;
    }

    div.titlebar {
        border-top: 1px #EDEFFF solid;
        background-size: 103px 122px;
    }

    div.title-school-logo > div > img {
        height: 45px;
        width: 49px;
    }

    div.title-school-logo {
        border-bottom: 1px #EDEFFF solid;
        padding: 2px 0px 5px 00px;
        margin-bottom: 10px;
    }

    /* -----END Response mobile title on home */
    /* Responsive mobile footer */
    footer {
        border-bottom: 1px #EDEFFF solid;
        background: none;
    }

    footer > div > div > div.footer-container-left {
        padding: 0 5px 0 5px !important;
    }

    footer > div > div > div.footer-container-right {
        border-top: 1px #EDEFFF solid;
        margin-top: 25px;
        padding: 0 5px 0 5px !important;

    }

    footer > div > div > div > h3 > span.footerLabel {
        font-size: 12px !important;

    }

    footer > div > div > div > h3 {
        font-size: 16px !important;
    }

    footer > div > div > div > h3 > a {
        font-size: 16px !important;
    }

    footer > div > div > div > h3 > a:hover {
        font-size: 16px !important;
    }

    /* -----END Responsive mobile footer */
    /* Responsive mobile sticky footer */
    .navbar-fixed-bottom > div > div > div > p {
        font-size: 14px !important;
    }

    /* -----END Responsive mobile sticky footer */
    /* Responsive mobile sticky footer */
    .hero hgroup h1 {
        font-size: 1.6em;
    }

    .hero hgroup h3 {
        font-size: .8em;
    }

    .btn.btn-hero, .btn.btn-hero:hover, .btn.btn-hero:focus {
        font-size: .8em;
        margin: 10px auto;
    }

    /* -----END Responsive mobile sticky footer */
}